version: "3.8" # OK, but can be removed for modern Compose V2
services:
  db:
    image: mysql:8.0
    container_name: epl_mysql
    restart: unless-stopped
    environment:
     
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: epl_dw
    ports:
      
      - "3307:3306" 
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./src/sql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8081:8080"
    
    depends_on:
      - db